<div class="row">
  <div class="col-md-12">
    <%= render partial: 'layouts/cgc/breadcrumb', locals: { objects: { home: 'root_path', '角色管理': 'root_path', '助教': 'mentors_path' }} %>
    <div class="panel panel-default">
      <header class="panel-heading">
        <h2 class="panel-title">助教管理</h2>
      </header>
      <div class="panel-body">
        <div class="table-toolbar">
          <div class="row">
            <div class="col-md-12">
              <div class="well well-sm shadow">
                <%= render partial: 'search' %>
              </div>
            </div>
          </div>
        </div>
        <p>申请数量: <%= @mentors_count %></p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>Email</th>
                <th>手机号码</th>
                <th>微信号</th>
                <th>擅长的语言</th>
                <th>城市</th>
                <th>工作时间段</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'mentor', collection: @mentors %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @mentors, theme: 'bootstrap' %>
    </div>
  </div>
</div>
