<tr id='user-<%= user.id %>'>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= I18n.t(user.gender, scope: 'activerecord.attributes.user.gender_enum') %></td>
  <td><%= user.city&.province || '-' %></td>
  <td><%= user.is_university_student %></td>
  <td><%= user.university&.name || '-' %></td>
</tr>
