<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CGC Admin</title>
    <%= stylesheet_link_tag    "cgc/application", media: "all" %>
    <%= javascript_include_tag "cgc/application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout">
    <% if admin_logined? %>
      <!--side navigation start-->
      <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <%= render "layouts/cgc/header" %>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">
          <%= render "layouts/cgc/nav" %>
          <!--start main content-->
          <section id="main-content">
            <div class="space-30"></div>
            <div class="container">
              <%= render 'layouts/cgc/flash_notice' %>
              <%= yield %>
            </div><!--end container-->
            <div class="footer">
              <div class="row">
                <div class="col-sm-12">
                  <span>&copy; Copyright 2017. Codingirl</span>
                </div>
              </div>
            </div>
          </section><!--end main content-->
        </div>
      </div><!--end wrapper-->
    <% else %>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
