<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-graduation-cap"></i>
        <h3><%= t("Programming courses") %></h3>
        <p>
        <b>One</b>,
        <%= t("Course Intro 1") %>
        </p>
        <li class="text-danger"><%= t("Free University Courses") %></li>
        <li class="text-danger"><%= t("Female Professional Courses") %></li>
        <li class="text-danger"><%= t("Master Courses") %></li>
        <%= link_to '#' do %>
          Learn More
          <i class="fa fa-caret-right"></i>
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-users"></i>
        <h3><%= t("Community") %></h3>
        <p>
        <b>Two</b>,
        <%= t("Community Intro") %>
        </p>
        <li class="text-danger"><%= t("Career Workshop") %></li>
        <li class="text-danger"><%= t("Internship") %></li>
        <li class="text-danger"><%= t("Jobs Blog") %></li>
        <%= link_to '#' do %>
          Learn More
          <i class="fa fa-caret-right"></i>
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-building"></i>
        <h3><%= t("Corporate Activities") %></h3>
        <p>
        <b>Three</b>,
        <%= t("Corporate Activities Intro") %>
        </p>
        <li class="text-danger"><%= t("Corporate Education") %></li>
        <li class="text-danger"><%= t("Community Partnerships") %></li>
        <li class="text-danger"><%= t("Talent Strategy") %></li>
        <%= link_to '#' do %>
          Learn More
          <i class="fa fa-caret-right"></i>
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
  </div>
  <!--row-->
</div>
<!--container-->
