<div class="col-md-6 margin-btm-30">
  <h3 class="text-uppercase  left-title margin-btm-40"><%= t("Popular Clubs") %></h3>
  <ul class="list-unstyled event-box">
    <li class=" clearfix">
      <div class="col-md-6">
        <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
      </div>
      <div class="event-content">
        <h4>
          <a href="#">Beijing Coding Girls Club</a>
        </h4>
        <p>
        <i class="fa fa-users"></i>
        3456
        </p>
        <p>
        <i class="fa fa-map-marker"></i>
        45 Events</p>
        <p>
        <a href="#"><%= t("View Details") %>
        <i class="fa fa-caret-right"></i>
        </a>
        </p>
      </div>
    </li>

    <li class=" clearfix">
      <div class="col-md-6">
        <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
      </div>
      <div class="event-content">
        <h4>
          <a href="#">Beijing Coding Girls Club</a>
        </h4>
        <p>
        <i class="fa fa-users"></i>
        3456
        </p>
        <p>
        <i class="fa fa-map-marker"></i>
        45 Events</p>
        <p>
        <a href="#"><%= t("View Details") %>
        <i class="fa fa-caret-right"></i>
        </a>
        </p>
      </div>
    </li>

    <li class=" clearfix">
      <div class="col-md-6">
        <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
      </div>
      <div class="event-content">
        <h4>
          <a href="#">Beijing Coding Girls Club</a>
        </h4>
        <p>
        <i class="fa fa-users"></i>
        3456
        </p>
        <p>
        <i class="fa fa-map-marker"></i>
        45 Events</p>
        <p>
        <a href="#"><%= t("View Details") %>
        <i class="fa fa-caret-right"></i>
        </a>
        </p>
      </div>
    </li>

    <li class=" clearfix">
      <div class="col-md-6">
        <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
      </div>
      <div class="event-content">
        <h4>
          <a href="#">Beijing Coding Girls Club</a>
        </h4>
        <p>
        <i class="fa fa-users"></i>
        3456
        </p>
        <p>
        <i class="fa fa-map-marker"></i>
        45 Events</p>
        <p>
        <a href="#"><%= t("View Details") %>
        <i class="fa fa-caret-right"></i>
        </a>
        </p>
      </div>
    </li>

    <li class="text-right">
      <a href="#" class="btn btn-border-skin"><%= t("View All Clubs") %>
      <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</div>
