<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="center-heading margin-btm-50">
        <h2>热门课程</h2>
        <span class="border-width"></span>
        <p>快来体验社群里面的火热课程，与姐妹们一起打怪升级</p>
      </div>
    </div>
  </div>
  <!--center title end-->
  <div class="carouse_row">
    <div id="item-slider" class="owl-carousel owl-theme">
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/html5.png", alt: "", class: "img-responsive") %>
            <span class="price-tag skin">免费</span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">HTML Introduction</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right">初级</span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    765</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">
                    申请
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/html-css.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">HTML and CSS</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    165</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/git-github.png", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Git & GitHub</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    65</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/bootstrap.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Bootstrapping it up</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    244</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Illustrate</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    87</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin">$299</span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Web Design</a>
            </h4>
            <span>By John Doe</span>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    1056</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin">$399</span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Andriod App</a>
            </h4>
            <span>By John Doe</span>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    452</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
    </div>
  </div>
</div><!--courses slider container end-->
