<%= render partial: 'fullwidthbanner' %>

<%= render partial: 'call_to_action' %>

<div class="space70"></div>

<%= render partial: 'introduction' %>

<div class="space40"></div>
<%= render partial: 'trending_courses' %>

<div class="space70"></div>

<div class="pattern-bg">
  <div class="container">
    <div class="row">
      <%= render partial: 'upcoming_events' %>
      <%= render partial: 'popular_clubs' %>
    </div>
  </div>

  <div class="other-info">
    <div class="container">
      <ul class="row list-unstyled">
        <%= render partial: 'career_workshops' %>
        <%= render partial: 'latest_news' %>
      </ul>
    </div>
  </div>

  <%= render partial: 'our_sponsors' %>
</div>
