<div class="fullwidthbanner">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Community Courses">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-1.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title dark sft" data-x="50" data-y="160" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          <span class="colored-text">FREE</span>
          UNIVERSITY COURSE
        </div>

        <div class="caption slider-caption dark sfl" data-x="50" data-y="310" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          CGC runs free part-time coding courses for female university students.
          <br>
          also providing affordable courses for female professionals.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="380" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Learn to Code
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Self-Organizing">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-2.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title light sft" data-x="50" data-y="160" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          <span class="colored-text">SELF-ORGANIZING</span>
          CLUB
        </div>

        <div class="caption slider-caption light sfl" data-x="50" data-y="310" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          The best organization's architectures, interactions, and designs emerge from self-organizing clubs.
          <br>
          Roles must work together daily throughout the club.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="380" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Join a Club
            <i class="fa fa-edit"></i>
          </a>
        </div>
      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Volunteer Mentors">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-3.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title dark sft" data-x="50" data-y="200" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          AMAZING
          <span class="colored-text">VOLUNTEER</span>
          MENTORS
        </div>

        <div class="caption slider-caption dark sfl" data-x="50" data-y="290" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          All of our community courses are run for free,
          <br>
          and we do this with the help of our amazing volunteer instructors.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="360" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Become a Mentor
            <i class="fa fa-cogs"></i>
          </a>
        </div>

      </li>
    </ul>
  </div>
</div>
<!--full width banner-->
<!--revolution end-->

<!--call to action-->
<div class="cta-skin jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>学编程，一起做有趣的事情</h3>
        <blockquote class="bg-primary lead">
          <p>
          <%= t("CGC Intro 1") %>
          <br>
          <br>
          <%= t("CGC Intro 2") %>
          </p>
        </blockquote>
      </div>
      <div class="col-sm-4 text-right">
        <div class="space20"></div>
        <a href="#" class="btn btn-lg btn-border-white">Join Today
          <i class="fa fa-edit"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end call to action-->
<div class="space70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-graduation-cap"></i>
        <h3><%= t("Programming courses") %></h3>
        <p>
        <b>One</b>,
        <%= t("Course Intro 1") %>
        </p>
        <li class="text-danger"><%= t("Free University Courses") %></li>
        <li class="text-danger"><%= t("Female Professional Courses") %></li>
        <li class="text-danger"><%= t("Master Courses") %></li>
        <%#= link_to('Learn More <i class="fa fa-caret-right"></i>'.html_safe, courses_page_path) %>
        <%= link_to 'Learn More', '#' %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-users"></i>
        <h3><%= t("Community") %></h3>
        <p>
        <b>Two</b>,
        <%= t("Community Intro") %>
        </p>
        <li class="text-danger"><%= t("Career Workshop") %></li>
        <li class="text-danger"><%= t("Internship") %></li>
        <li class="text-danger"><%= t("Jobs Blog") %></li>
        <%#= link_to('Learn More <i class="fa fa-caret-right"></i>'.html_safe, events_page_path) %>
        <%= link_to 'Learn More', '#' %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-building"></i>
        <h3><%= t("Corporate Activities") %></h3>
        <p>
        <b>Three</b>,
        <%= t("Corporate Activities Intro") %>
        </p>
        <li class="text-danger"><%= t("Corporate Education") %></li>
        <li class="text-danger"><%= t("Community Partnerships") %></li>
        <li class="text-danger"><%= t("Talent Strategy") %></li>
        <%#= link_to('Learn More <i class="fa fa-caret-right"></i>'.html_safe, courses_page_path) %>
        <%= link_to 'Learn More', '#' %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
  </div>
  <!--row-->
</div>
<!--container-->

<div class="space40"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="center-heading margin-btm-50">
        <h2><%= t("Trending Courses") %></h2>
        <span class="border-width"></span>
        <p><%= t("Course Intro 2") %></p>
      </div>
    </div>
  </div>
  <!--center title end-->
  <div class="carouse_row">
    <div id="item-slider" class="owl-carousel owl-theme">
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/html5.png", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">HTML Introduction</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    765</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">
                    Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/html-css.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">HTML and CSS</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    165</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/git-github.png", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Git & GitHub</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    65</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("homepage/bootstrap.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Bootstrapping it up</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    244</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin"><%= t("Free") %></span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Illustrate</a>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="text-left">By Yang</span>
              </div>
              <div class="col-xs-6">
                <span class="text-right"><%= t("Entry Level") %></span>
              </div>
            </div>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    87</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--course-box-->
      </div>
      <!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin">$299</span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Web Design</a>
            </h4>
            <span>By John Doe</span>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    1056</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
      <div class="item">
        <div class="course-box">
          <a class="thumb" href="#">
            <%= image_tag("assan/g1.jpg", alt: "", class: "img-responsive") %>
            <span class="price-tag skin">$399</span>
          </a>
          <div class="course-desc">
            <h4>
              <a href="#">Andriod App</a>
            </h4>
            <span>By John Doe</span>
            <div class="desc-footer">
              <div class="row">
                <div class="col-xs-6">
                  <span>
                    <i class="fa fa-users"></i>
                    452</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="#">Apply
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--course-box-->
      </div><!--item-->
    </div>
  </div>
</div><!--courses slider container end-->

<div class="space70"></div>
<div class="pattern-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 margin-btm-30">
        <h3 class="text-uppercase left-title margin-btm-40"><%= t("Upcoming Events") %></h3>
        <ul class="list-unstyled event-box">
          <li class=" clearfix">
            <div class="date">
              25<br>June
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Startup for mobile apps</a>
              </h4>
              <p>
              <i class="fa fa-clock-o"></i>
              11:00 Am - 3:00 Am</p>
              <p>
              <i class="fa fa-map-marker"></i>
              Club's name</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>
          <!--li-->
          <li class=" clearfix">
            <div class="date">
              25<br>June
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Startup for mobile apps</a>
              </h4>
              <p>
              <i class="fa fa-clock-o"></i>
              11:00 Am - 3:00 Am</p>
              <p>
              <i class="fa fa-map-marker"></i>
              Club's name</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>
          <!--li-->
          <li class=" clearfix">
            <div class="date">
              25<br>June
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Startup for mobile apps</a>
              </h4>
              <p>
              <i class="fa fa-clock-o"></i>
              11:00 Am - 3:00 Am</p>
              <p>
              <i class="fa fa-map-marker"></i>
              Club's name</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>
          <!--li-->
          <li class=" clearfix">
            <div class="date">
              25<br>June
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Startup for mobile apps</a>
              </h4>
              <p>
              <i class="fa fa-clock-o"></i>
              11:00 Am - 3:00 Am</p>
              <p>
              <i class="fa fa-map-marker"></i>
              Club's name</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>
          <!--li-->
          <li class="text-right">
            <a href="#" class="btn btn-border-skin"><%= t("View All Events") %>
            <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
        <!--ul-->
      </div>
      <!--col-->

      <div class="col-md-6 margin-btm-30">
        <h3 class="text-uppercase  left-title margin-btm-40"><%= t("Popular Clubs") %></h3>
        <ul class="list-unstyled event-box">
          <li class=" clearfix">
            <div class="col-md-6">
              <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Beijing Coding Girls Club</a>
              </h4>
              <p>
              <i class="fa fa-users"></i>
              3456
              </p>
              <p>
              <i class="fa fa-map-marker"></i>
              45 Events</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>

          <li class=" clearfix">
            <div class="col-md-6">
              <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Beijing Coding Girls Club</a>
              </h4>
              <p>
              <i class="fa fa-users"></i>
              3456
              </p>
              <p>
              <i class="fa fa-map-marker"></i>
              45 Events</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>

          <li class=" clearfix">
            <div class="col-md-6">
              <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Beijing Coding Girls Club</a>
              </h4>
              <p>
              <i class="fa fa-users"></i>
              3456
              </p>
              <p>
              <i class="fa fa-map-marker"></i>
              45 Events</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>

          <li class=" clearfix">
            <div class="col-md-6">
              <%= image_tag "assan/poster.png", class: "media-object",  size: "240x90" %>
            </div>
            <div class="event-content">
              <h4>
                <a href="#">Beijing Coding Girls Club</a>
              </h4>
              <p>
              <i class="fa fa-users"></i>
              3456
              </p>
              <p>
              <i class="fa fa-map-marker"></i>
              45 Events</p>
              <p>
              <a href="#"><%= t("View Details") %>
              <i class="fa fa-caret-right"></i>
              </a>
              </p>
            </div>
          </li>

          <li class="text-right">
            <a href="#" class="btn btn-border-skin"><%= t("View All Clubs") %>
            <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-md-6 margin-btm-30">
        <h3 class="text-uppercase  left-title margin-btm-40"><%= t("Popular Clubs") %></h3>
        <div class="owl-carousel owl-theme video-slider">
        <div class="item">

        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/qhWV5i-w57M" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        <div class="item">

        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/7XZXYbhLI2M" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        <li class="text-right">
        <a href="#" class="btn btn-border-skin">View All Clubs
        <i class="fa fa-angle-right"></i>
        </a>
        </li>
        </div> -->
      </div>
    </div>
  </div>

  <div class="other-info">
    <div class="container">
      <ul class="row list-unstyled">
        <li class="col-md-4 shaded-bg">
          <h4 class="main-heading">
            <%= t("Career Workshops") %>
          </h4>
          <ul class="seminars list-unstyled">
            <li>
              <h5>
                <a href="#">Annual Parents Meeting</a>
              </h5>
              <p class="info">
              <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </li>
            <li>
              <h5>
                <a href="#">Annual Parents Meeting</a>
              </h5>
              <p class="info">
              <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </li>
            <li>
              <h5>
                <a href="#">Annual Parents Meeting</a>
              </h5>
              <p class="info">
              <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </li>
          </ul>
        </li>
        <li class="col-md-4 white-bg">
          <h4 class="main-heading">
            <%= t("Latest News") %>
          </h4>
          <div class="latest-news">
            <a href="#" class="thumb">
              <%= image_tag("assan/g1.jpg", class: "img-responsive", alt:"", width: "100") %>
            </a>
            <div class="news-content">
              <h5>
                <a href="#">Loem ipsum dolor amet</a>
              </h5>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </div>
          </div>
          <div class="latest-news">
            <a href="#" class="thumb">
              <%= image_tag("assan/g7.jpg", class: "img-responsive", alt:"", width: "100") %>
            </a>
            <div class="news-content">
              <h5>
                <a href="#">Loem ipsum dolor amet</a>
              </h5>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </div>
          </div>
          <div class="latest-news">
            <a href="#" class="thumb">
              <%= image_tag("assan/g8.jpg", class: "img-responsive", alt:"", width: "100") %>
            </a>
            <div class="news-content">
              <h5>
                <a href="#">Loem ipsum dolor amet</a>
              </h5>
              <p>
              It is a long established fact that a reader will be distracted by the readable content...
              <a href="#">MORE</a>
              </p>
            </div>
          </div>
        </li>
        <li class="col-md-4 shaded-bg">
          <h4 class="main-heading">
            <%= t("Apply Campus Ambassador") %>
          </h4>
          <p class="lead">
          If you'd like to enter your university and yourself as it's ambassador to the waiting list, please do get in touch!
          </p>
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="University">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Why do you apply?">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Resume">
            </div>
            <div class="text-center">
              <input type="button" class="btn btn-skin btn-lg btn-block" value="Submit">
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="pattern-bg">
    <div class="container">
      <div class="center-heading margin-btm-50">
        <h2><%= t("Our Sponsors") %></h2>
        <span class="border-width"></span>
        <p>It is a long established fact that a reader will be distracted by the readable content</p>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="owl-carousel owl-theme testi-slider">
            <div class="item">
              <%= image_tag("assan/1.jpg", alt: "", class: "img-circle", width: "100") %>
              <p>
              Donec fringilla lacinia laoreet. Vestibulum ultrices blandit tempor. Aenean magna elit, varius eget quam a, posuere...
              </p>
              <h4>John Doe -
                <em>Web Design</em>
              </h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full"></i>
              </div>
            </div>
            <div class="item">
              <%= image_tag("assan/2.jpg", alt: "", class: "img-circle", width: "100") %>
              <p>
              Donec fringilla lacinia laoreet. Vestibulum ultrices blandit tempor. Aenean magna elit, varius eget quam a, posuere...
              </p>
              <h4>John Doe -
                <em>Web Design</em>
              </h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
              </div>
            </div>
            <div class="item">
              <%= image_tag("assan/3.jpg", alt: "", class: "img-circle", width: "100") %>
              <p>
              Donec fringilla lacinia laoreet. Vestibulum ultrices blandit tempor. Aenean magna elit, varius eget quam a, posuere...
              </p>
              <h4>John Doe -
                <em>Web Design</em>
              </h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="newsletter-section">
    <div class="container">
      <div class="center-heading margin-btm-50">
        <h2><%= t("Subscribe to our newsletter") %></h2>
        <span class="border-width"></span>
        <p>Want to get updates about Coding Girls Club?</p>
      </div>
      <form>
        <input type="email" class="form-control" placeholder="Eamil">
        <button type="button" class="btn btn-skin btn-lg">Subscribe</button>
      </form>
    </div>
  </div>
</div>
