<%= search_form_for @search, url: ambassadors_path, html: { method: :get, class: 'form-inline' } do |f| %>
  <div class="form-group">
    <%= f.label :user_name, '姓名:' %>
    <%= f.text_field :user_name_cont, class: 'form-control' %>

    <%= f.label :email, 'Email:' %>
    <%= f.text_field :user_email_cont, class: 'form-control' %>

    <%= f.label :status, '审核状态:' %>
    <%= f.select :status_eq, cgc_ambassadors_status_option_for_select, { include_blank: '全部状态' }, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :city_id, '城市:' %>
    <%= f.select :city_id_eq, [@city_default_value], {}, data: { url: search_cities_path }, class: 'form-control', style: 'width: 150px' %>

    <%= f.label :university_id, '学校:' %>
    <%= f.select :university_id_eq, [@university_default_value], {}, data: { url: search_universities_city_path(':id') }, class: 'form-control', style: 'width: 150px' %>
  </div>
  <div class="input-group-btn pull-right">
    <%= f.submit '搜索', class: 'btn btn-sm btn-primary pull-right' %>
  </div>
<% end %>

<script type="text/javascript">
  CGC.Users.SelectCityAndUniversity.selectCityAndUniversity();
</script>
