<div class="row">
  <div class="col-md-12">
    <%= render partial: 'layouts/cgc/breadcrumb', locals: { objects: { home: 'root_path', '角色管理': 'root_path', '校园大使': 'ambassadors_path' }} %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">校园大使管理</h4>
      </div>
      <div class="panel-body">
        <div class="table-toolbar">
          <div class="row">
            <div class="col-md-12">
              <div class="well well-sm shadow">
                <%= render partial: 'search' %>
              </div>
            </div>
          </div>
        </div>
        <p>申请数量: <%= @ambassadors_count %></p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>Email</th>
                <th>城市</th>
                <th>学校</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'ambassador', collection: @ambassadors %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @ambassadors, theme: 'bootstrap' %>
    </div>
  </div>
</div>
