<div class="space70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div>
        <h3><%= @qa.title %></h3>
        <br/>
        <%= @qa.description %>
      </div>
      <hr/>
      <div class="login-register-form">
        <%= form_for(@ambassador, url: ambassadors_path) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { object: @ambassador } %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="form-group">
            <%= f.label :self_introduction, '自我介绍*' %>
            <%= f.text_field :self_introduction, class: 'form-control', placeholder: '请填写你的一句话申请宣言' %>
          </div>
          <div class="form-group">
            <%= f.label :resume_url, 'resume_url' %>
            <%= f.text_field :resume_url, class: 'form-control', placeholder: '请填写你的resume_url' %>
          </div>
          <br/>
          <% @qa.questions.each_with_index do |question, index| %>
            <div class="form-group">
              <label>问题<%= index + 1 %>:  <%= question.title %>*</label><span class="input-icon" style="line-height:0px;"><i class="fa fa-pencil"></i></span>
              <%= text_area_tag :"answers[][#{question.id}]", nil, class: "form-control", placeholder: "请填写你的答案" %>
            </div>
          <% end %>
          <%= f.submit "提交申请", class: "btn btn-lg btn-block btn-skin" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="space70"></div>
