<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <ul class="panel-breadcrumb breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to '问题管理', qas_path %></li>
      </ul>
      <header class="panel-heading">
        <h2 class="panel-title">问题名称: <%= @qa.title %></h2>
        <p class="helping-text">问题描述: <%= @qa.description %></p>
      </header>
      <div class="panel-body">
        <fieldset>
          <legend>问题列表</legend>
          <dl class="dl-horizontal">
            <% @qa.questions.each_with_index do |question, index| %>
              <dt>问题<%= index + 1 %></dt>
              <dd><%= question.title %></dd>
            <% end %>
          </dl>
        </fieldset>
      </div>
    </div>
  </div>
</div>
