<tr>
  <td> <%= m.user.name%> </td>
  <td> <%= m.applied? ? "已通过" : "未通过"%> </td>
  <td> 
      <%= m.applied ? "已通过" : (link_to "通过申请", apply_admin_mentor_path(m) ) %> 
      ·
      <%= link_to "查看详细", admin_mentor_path(m) %>
      ·
      <%= link_to "删除此申请", admin_mentor_path(m), method: :delete, data: { confirm: "确定删除?" } , class: 'delete' %>
  </td>
</tr>

