<!--footer start-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 margin-btm-30">
        <h3>Courses</h3>
        <ul class="list-unstyled f-list">
          <li><%= link_to 'Web Development', '#' %></li>
          <li><%= link_to 'Ruby Path', '#' %></li>
          <li><%= link_to 'Node Path', '#' %></li>
          <li><%= link_to 'Mobile Path', '#' %></li>
          <li><%= link_to 'Career development', '#' %></li>
        </ul>
      </div>
      <div class="col-md-3 margin-btm-30">
        <h3>Quick links</h3>
        <ul class="list-unstyled f-list">
          <li><%= link_to 'Clubs', '#' %></li>
          <li><%= link_to 'Events', '#' %></li>
          <li><%= link_to 'News', '#' %></li>
          <li><%= link_to 'Courses', '#' %></li>
          <li><%= link_to 'Terms & Conditions', '#' %></li>
        </ul>
      </div>
      <div class="col-md-3 margin-btm-30">
        <h3>Recent Post</h3>
        <ul class="list-unstyled f-post">
          <% 3.times do %>
            <li class="clearfix">
              <%= link_to image_tag('assan/poster_theme.png', class: 'img-responsive', width: '70'), '#', class: 'thumb' %>
              <div class="f-post-content">
                <%= link_to 'Post title goes here', '#' %>
                <em>2 days ago</em>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 margin-btm-30">
        <h3>Contact us</h3>
        <ul class="list-inline footer-social">
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-wechat"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-weibo"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-zhihu"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-douban"></i>
            <% end %>
          </li>
        </ul>
        <p class="phone"><i class="fa fa-wechat-"></i>微信客服： codingirls</p>
        <p>Monday - Friday - 9:Am to 5 Pm</p>
        <p>Questions: <%= mail_to 'info@codingirls.club', 'info@codingirls.club' %></p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <span>&copy; Coding Girls Club Copyright 2016 - 2017. All Right Reserved.
      </span>
    </div>
  </div>
</footer>
<!--footer end-->
